@import url('https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c');


@media screen and (min-width: 481px) {
  .responsiveParent {
    display: flex;
    width: 100%;
  }

  .responsiveChild1 {
    width: 50%;
    padding-right: 1%;
  }

  .responsiveChild2 {
    width: 50%;
    padding-left: 1%;
  }
}

@media screen and (max-width: 480px) {}

/* h2とh3の前後のマージンを狭くする */
h2,
h3 {
  margin-top: 1em;
  /* 上側のマージン */
  margin-bottom: 0.25em;
  /* 下側のマージン */
    background-color: var(--dark-color);
    color: var(--txt-bg);
    padding-left: 10px;
  }

:root {
  /* メインカラー */
  --bg-color: #ffe4e4;
  --txt-bg: #fff9f9;
  --dark-color: #6d1919;
  --accent-color: #ff3d61;

}

body {
  /*font-weight: bold;*/
  font-family: 'M PLUS Rounded 1c', sans-serif;
  background-color: var(--bg-color);
  color: var(--dark-color);
}



.navigation {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.container {
  padding-top: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.txtbox {
  background-color: var(--txt-bg);
  padding: 10px;
  border: 2px solid var(--dark-color);
  justify-content: center;
}

.bubble {
  margin-left: 5%;
  width: 70%;
  position: relative;
  background-color: var(--txt-bg);
  /* 吹き出しの背景色 */
  border: 2px solid var(--dark-color);
  border-radius: 10px;
  /* 吹き出しの角を丸める */
  box-sizing: border-box;
  /* 幅にborderとpaddingを含める */
}

.bubble:before {
  content: "";
  position: absolute;
  top: 50%;
  left: -25px;
  margin-top: -12px;
  border: 12px solid transparent;
  border-right: 15px solid var(--txt-bg);
  z-index: 2;
}

.bubble:after {
  content: "";
  position: absolute;
  top: 50%;
  left: -30px;
  margin-top: -13px;
  border: 13px solid transparent;
  border-right: 16px solid var(--dark-color);
  z-index: 1;
}

.transparent {
  opacity: 0.5;
  /* 透明度を半分に設定 */
}

.overlap {
  position: relative;
}

@media screen and (min-width: 481px) {
  .overlay {
    position: absolute;
    text-align: center;
    top: 40%;
    /* 上端を画面の50%に設定 */
    width: 100%;


    font-size: 3vw;
  }
}

@media screen and (max-width: 480px) {
  .overlay {
    position: absolute;
    text-align: center;
    top: 35%;
    /* 上端を画面の50%に設定 */
    width: 100%;

    font-size: 8vw;
  }
}

.circle {
  border-radius: 50%;
  overflow: hidden;
  border: 2px solid var(--dark-color);
}