.navigation {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.logo{
  width: 60px;
  margin: auto;
  display: block;
}

  img{
  width: 100%;
  
  }

  .login{
    width: 150px;
    margin: auto;
    display: block;

  }